@model IEnumerable<InstaAlbum.Models.tblStudioAdmin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudioName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudioLogo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.About)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpeningHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosingHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Map)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeactivateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudioName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudioLogo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.About)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpeningHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosingHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Map)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeactivateDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudioID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudioID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudioID })
        </td>
    </tr>
}

</table>
